*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "PT Mono"; }

html {
  font-size: 62.5%;
  /* we get this number by dividing 100% by 16px */ }

body {
  box-sizing: border-box; }

.about {
  height: 100vh;
  margin: 2rem;
  text-align: center;
  position: relative;
  border-radius: 3px; }
  .about-part {
    display: inline-block;
    width: 95%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #97a4b5; }

h2 {
  color: white;
  margin-top: 10rem;
  font-size: 4rem; }

.header {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .header::before {
    content: "";
    position: absolute;
    background-size: cover;
    top: 5rem;
    right: 0;
    left: 20rem;
    bottom: 0;
    background-color: #bae8e8;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    z-index: -1; }
  .header::after {
    content: "";
    display: table;
    clear: both; }

.header__navigation {
  padding-bottom: 1.5rem;
  margin-top: 3rem;
  margin-right: 1rem;
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  background-color: #ffd803;
  border-radius: 3px; }
  .header__navigation__li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-right: 2rem; }
    .header__navigation__li:first-child {
      margin-left: 2rem; }

.heading__box {
  text-align: center; }
  .heading__box-h1 {
    margin-top: 4rem;
    font-size: 3rem; }
  .heading__box-paragraph {
    margin-top: 3rem;
    padding: 3rem;
    color: #2d334a;
    font-size: 1.5rem;
    font-weight: 700; }

.heading__box__logo {
  position: absolute;
  top: 21rem; }
  .heading__box__logo-link, .heading__box__logo-git {
    width: 3rem;
    height: 3rem;
    margin-left: 0.1rem; }

.row {
  max-width: 100%;
  clear: both;
  padding-left: 13rem;
  padding-top: 10rem;
  z-index: 1; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row__main-1, .row__main-2 {
    border-radius: 3px;
    float: left; }
  .row__main-1 {
    max-width: 50rem;
    margin-right: 16rem;
    height: 25rem;
    margin-top: 6rem;
    background-color: #eff6e0; }
  .row__main-2 {
    width: 25rem;
    height: 32rem;
    margin-bottom: 5rem; }

.main-2_img {
  width: 100%;
  height: 100%;
  background-color: #bae8e8;
  background-image: url("https://images.pexels.com/photos/374563/pexels-photo-374563.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-blend-mode: screen;
  opacity: 0.7; }
