:root {
  --color-primary: #eebbc3;
  --color-secondary: #ddf8e8;
  --color-background: #232946;
  --color-white: #fffffe;
  --color-teriary: #b8c1ec;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  background-color: #232946;
}
