:root {
  --color-primary: #eebbc3;
  --color-secondary: #ddf8e8;
  --color-background: #232946;
  --color-white: #fffffe;
  --color-teriary: #b8c1ec;

  //Font

  --regular-text:font-size: clamp(0.5rem, 1vw, 1.5rem);





}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; //500px


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-large) {
    font-size: 40%;
  }
  
}


body {
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  background-color: #232946;
 
}
