.header {
  max-width: 120rem;
  min-height: 50rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 4rem;
    right: 0rem;
    background-color: #eeeddf;
    width: 60%;
    height: 80%;
    z-index: -1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 7px -4px 6px -2px rgba(1, 1, 1, 0.9);
    box-shadow: 7px -4px 6px -2px rgba(1, 1, 1, 0.9);
  }
}

.nav {
  float: right;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
}

.introduction {
  background-color: grey;
  display: block;
  clear: both;
}
