/* <body class="container">
    <div class="logo"></div>
    <div class="nav"></div>
    <div class="email"></div>
    <div class="about"></div>
    <div class="experience"></div>
    <div class="footer"></div> */

.logo {
  background-color: antiquewhite;
}
.nav {
  background-color: blueviolet;
}

.email {
  background-color: bisque;
}

.about {
  background-color: goldenrod;
}

.experience {
  background-color: olivedrab;
}

.footer {
  background-color: black;
}
