*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: "PT Mono";
}

html {
  font-size: 62.5%;
  /* we get this number by dividing 100% by 16px */
}
body {
  box-sizing: border-box;
}
