//Header part
.row {
  max-width: $grid-width;
  clear: both;
  @include clearfix;
  padding-left: 13rem;
  padding-top: 10rem;
  z-index: 1;

  &__main-1,
  &__main-2 {
    border-radius: 3px;
    float: left;
  }
  &__main-1 {
    max-width: 50rem;
    margin-right: 16rem;
    height: 25rem;
    margin-top: 6rem;
    background-color: #eff6e0;
  }

  &__main-2 {
    width: 25rem;
    height: 32rem;
    margin-bottom: 5rem;
  }
}
.main-2_img {
  width: 100%;
  height: 100%;
  background-color: #bae8e8;
  background-image: url("https://images.pexels.com/photos/374563/pexels-photo-374563.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-blend-mode: screen;
  opacity: 0.7;
}
